.commentСontainer {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}
  
.arrowDown {
    transform: rotate(180deg);
}
  
.commentDivider {
    width: 2px;
    background-color: #D9D9D9;
    height: 49px;
    margin: 11px 0 0 8px;
}

.commentContent {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    width: 100%;
}

.metaData {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 5px 0 0 10px;
}

.textComment {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.commentIcon {
	display: flex;
    flex-flow: row nowrap;
	cursor: pointer;
    padding-left: 10px;
}

.commentIcon > * + * {
    padding-left: 27px;
}

.publishedLabel {
    display: none;
}

.createdAt, .createdAt span {
    color: var(--grey99);
}

@media all and (min-width: 1024px) {
    .metaData {
        justify-content: flex-start;
        font-size: 14px;
        line-height: 16px;
    }

    .publishedLabel {
        display: inline;
    }
}

.userLinkComment {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 20px;
	margin-right: 6px;
}
  
.avatarComment {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin: 0 7px 0 0;
}
  
.usernameComment {
    color: var(--orange);
    position: relative;
    z-index: 1;
}

.label {
	padding: 0px 10px 0 10px;
	background-color: #D9D9D9;
	margin-left: 6px;
}
  
@media all and (min-width: 1024px) {
    .userLink {
        padding: 0 0 0 5px;
    }
}

@media all and (min-width: 1540px) {
    .userLink:hover a {
        text-decoration: underline;
    }
}

@media all and (min-width: 1540px) {
    .textContent {
        flex-basis: 672px;
    }
}

@media all and (min-width: 1024px) {
    .textContent {
        flex-basis:      540px;
        order:           1;
        flex-flow:       column-reverse nowrap;
        justify-content: center;
    }
} 
